body {
	font-family:var(--body-font,'Sans, Verdana, sans-serif');
	font-size:14pt;
}
code {
	font-family: SansMono, monospace;
	font-size: 115%;
}
* {
	padding: 0;
	margin: 0;
	border: 0;
}
h1, h2, h3, h4 {
	text-align:center;
}
*, :after, :before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a:visited,
a {
	text-decoration:none;
	color:inherit;
}
ul li { list-style-type:none; }

.header {
	position: sticky;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 3;
}
.container {
	max-width: 1290px;
	margin: 0 auto;
	padding: 0 10px;
}
.header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--head-back, '#1b242d');
}
.header__body {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 60px;
	-ms-flex-align: center;
	align-items: center;
}
@media (max-width: 1180px) {
	.container {
		max-width: 768px;
	}
	.header__logo {
		-ms-flex: 0 0 100px;
		flex: 0 0 100px;
	}
	.footer-block__text {
		margin-bottom: 15px;
	}
}
.header__logo {
	-ms-flex: 0 0 101px;
	flex: 0 0 101px;
	overflow: hidden;
	position: relative;
	z-index: 3;
}
.header__logo img {
	max-width: 100%;
	display: block;
	height: 28px;
}

.head_part.account a,
.head_part.account a:visited {
	font-size:10pt;
	color:var(--head-text);
	margin-left:1em;
}
.head_part.account a:hover { color:var(--head-text-lt) }

.footer {
	background-color: var(--head-back, '#1b242d');
	padding: 15px 0;
}
.footer-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: flex-start;
	align-items: flex-start;
}
.footer-block__text {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: var(--head-text,'#bdbdbd');
	margin-right: 15px;
}
.footer-block__mobile {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex: 0 0 233px;
	flex: 0 0 233px;
	margin-bottom:20px;
}
.footer-block__mobile span {
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	color: var(--head-text-lt, "#ffffff");
	width: 80px;
	margin-right: 10px;
}
.footer-block__mobile a {
	white-space:nowrap;
	font-weight: 900;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: var(--panel-text,'#ffffff');
	background: var(--panel-back, '#016b45');
	border-radius: 20px;
	padding: 5px 20px;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}
.footer-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.footer-list li {
	margin-left: 15px;
	border-radius: 50%;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}

#registration-body {
	font-family:SansCond, sans-serif;
	background: var(--body-gray, '#fcfcfc');
	border: 1px solid var(--body-gray-dk, '#eaeaea');
	-webkit-box-shadow: 0 4px 15px rgba(0,0,0,.05);
	box-shadow: 0 4px 15px rgba(0,0,0,.05);
	border-radius: 10px;
	margin: 2em auto;
	padding: 40px 60px;
	max-width: 540px;
}
#registration-body .optgroup label {
	display: block;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: var(--body-text,'#333333');
	margin: 0 0 10px 0;
}
#registration-body .optrow {
	justify-content:space-between;
}
#registration-body .optrow label {
	font-weight: bold;
	font-size: 16px;
	color: var(--body-text,'#333333');
}

#registration-body .form__btn:not(:active) {
	background-color: var(--panel-back, '#016B45');
}
#registration-body a {
	text-decoration:underline;
}
#registration-body a:hover {
	color:initial;
	text-decoration:none;
}
.block_header {
	display:block;
	font-weight:bold;
	font-size:14pt;
	line-height:1.5;
}
.upload_block {
	padding:1em 0px;
	margin:1em 0px;
	border-bottom:1px solid var(--body-text-lt,'#999999');
}
.upload_block details {
	margin-bottom:20px;
}
.upload_block summary {
	font-size:11pt;
	line-height:1;
/* 	color: var(--body-text-alt,'#336633'); */
	color: var(--balloon-sel-back, '#6699aa');
	margin: 10px 0px;
	cursor: pointer;
}
.optrow input[type="checkbox"],
.optrow input[type="radio"] {
	width:18px;
	height:18px;
	margin-right:1em;
}

.upload_block >.span-title__info {
	color:var(--body-text,'#333333');
}
.span-title__info {
	font-weight: 400;
	font-size: 10pt;
	line-height:1.2;
	color:var(--body-text-lt,'#999999');
	display:inline-block;
}
.comment {
	font-size:90%;
	margin:20px 0px;
	color:var(--body-text-lt,'#999999');
}

.panel {
	color:var(--panel-text, '#ffffff');
	background-color:var(--panel-back, '#016B45');
	border-radius: 6px;
	width: 540px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-direction:column;
	flex-direction:column;
	padding:2em;
	margin: 10px auto;
	-moz-box-shadow:0px 3px 8px 0px #333333;
	-webkit-box-shadow:0px 3px 8px 0px #333333;
	box-shadow:0px 3px 8px 0px #333333;
}

h1 {
	font-weight: bold;
	font-size: 18pt;
	line-height: 1.5;
	margin-bottom: 20px;
}

.panel h4,
.panel button {
	font-weight:normal;
	font-family:SansBold, Verdana, sans-serif;
}

.panel a:visited,
.panel a:active,
.panel a {
	color:var(--panel-text-dk, '#cccccc');
	text-decoration:none;
}
.panel a:hover {
	color:var(--panel-text, '#ffffff');
	background-color:var(--panel-back-lt,'#00b171');
}

.panel .opts {
	display:inline-block;
	width:100%;
}
.form__input {
	background: var(--body-back, '#ffffff');
	border: 1px solid var(--panel-text-dk, '#b7bfc3');
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 4px;
	padding:0.5em 0 0.5em 0.5em;
	width: 100%;
	font-size:inherit;
}
.buttonbar {
	padding:0.5em 0px;
	margin:0.5em 2em;
/* 	border-top:1px solid var(--body-text-lt,'#cccccc'); */
}
.form__btn {
	font-weight: 400;
	font-size: 14pt;
	line-height: 1.3;
	text-align: center;
	color: var(--panel-text, '#ffffff');
	padding: 0.8em 1.5em;
	background-color: var(--panel-back-dk, '#1d1d1d');
	border-radius: 6px;
	display: block;
	margin: 0 auto;
	-moz-box-shadow:0px 3px 8px 0px #333333;
	-webkit-box-shadow:0px 3px 8px 0px #333333;
	box-shadow:0px 3px 8px 0px #333333;
}
.form__btn:active {
	background-color: var(--panel-back-lt, '#00b171');
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.form__btn:disabled {
	color:var(--panel-text-dk, '#b7bfc3');
}
.alert {
	color:var(--panel-text, '#ffffff');
	background-color:var(--panel-back-lt, '#016B45');
	border-radius: 6px;
	width: 50%;
	left: 25%;
	top:20%;
	position:absolute;
	z-index:1;
	padding:2em;
	margin: 10px auto;
	-moz-box-shadow:0px 3px 8px 0px #333333;
	-webkit-box-shadow:0px 3px 8px 0px #333333;
	box-shadow:0px 3px 8px 0px #333333;
	cursor:pointer;
	line-height:1.5;
	text-align:center;
	text-align-last:center;
}

@media screen and (max-width:800px) {
	#registration-body {
		padding:1em;
		margin:1em auto;
	}
	.panel {max-width:100%;padding:1em;}
	.panel h1 {font-size:16pt;line-height:1.2;}
	.form__input {font-size:12pt;}
	.form__btn {font-size:10pt;padding:0.5em 1em;}
	.alert { width: 90%;left:5%;font-size:80%;padding:1em;}
}
.panel .opts >a {
	list-style-type:none;
	display:list-item;
	font-weight:bold;
	padding:0.5em 0px;
	text-indent:1em;
}

div.optgroup {
	display:flex;
	flex-direction:column;
	margin-bottom:10px;
}
.optgroup label {
	margin-top:1em;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: var(--panel-text-dk, '#b7bfc3');
}
div.optrow {
	margin:10px 0px;
	display:flex;
	flex-direction:row;
}
div.optrow div.quant {
	display:inline-flex;
	flex-direction:row;
}
#vswitch {
	font-size:12pt;
	background-repeat:no-repeat;
	background-position:center;
	background-size:100%;
	display:inline-block;
	width:1.2em;
/* 	height:1.2em; */
	margin:0.6em -1.5em;
	cursor:pointer;
}
.pwd-hid { background-image:url('/img/pwd-hid.svg') }
.pwd-vis { background-image:url('/img/pwd-vis.svg') }

.buttonbar a.button:visited,
.buttonbar a.button {
	text-decoration:none;
	margin-right:2em;
	padding:0.25em 2em;
	border:1px solid var(--body-text-lt,'#cccccc');
	border-radius:0.3em;
	background: var(--btn-bg);
	color: var(--btn-fg);
}
.buttonbar a.button:active {
	background: var(--btn-bg-alt);
}

.action {
	margin:1em;
	background-color:var(--body-back-alt,'#ebf5ef');
	color:var(--body-text-alt,'#336633');
	border:solid 1px var(--panel-back-lt,'#00b171');
	border-radius:0.25em;
	-moz-box-shadow:0px 3px 8px 0px #333333;
	-webkit-box-shadow:0px 3px 8px 0px #333333;
	box-shadow:0px 3px 8px 0px #333333;
}
.action h1,
.action h2,
.action h3,
.action h4 {
	background-color:var(--panel-back-lt,'#00b171');
	color:var(--panel-text,'#ffffff');
	text-indent:2em;
	padding:1em 0px;
	margin-top:0px;
}
.charmark {
	font-size:12pt;
	line-height:1;
	cursor:pointer;
}
.charmark.red {
	color:#990000;
}
.charmark.green {
	color:#000099
}
.error {
	margin:30px;
	color:var(--body-text,'#333333');
}
