body {
	font-family:var(--body-font);
	font-size:12pt;
}
code {
	font-family: SansMono, monospace;
	font-size: 115%;
}
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*, :after, :before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a:visited,
a {
	text-decoration:none;
	color:inherit;
}
ul li { list-style-type:none; }

.header {
	position: sticky;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 3;
}
.container {
	max-width: 1290px;
	margin: 0 auto;
	padding: 0 10px;
}
.header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--head-back, '#1b242d');
}
.header__body {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 60px;
	-ms-flex-align: center;
	align-items: center;
}
@media (max-width: 1180px) {
	.container { max-width: 768px; }
	.header__logo {
		-ms-flex: 0 0 100px;
		flex: 0 0 100px;
	}
	.footer-block__text { margin-bottom: 15px; }
}
.header__logo {
	-ms-flex: 0 0 101px;
	flex: 0 0 101px;
	overflow: hidden;
	position: relative;
	z-index: 3;
}
.header__logo img {
	max-width: 100%;
	display: block;
	height: 28px;
}

.head_part.account a,
.head_part.account a:visited {
	font-size:10pt;
	color:var(--head-text);
	margin-left:1em;
}
.head_part.account a:hover { color:var(--head-text-lt) }

.footer {
	background-color: var(--head-back, '#1b242d');
	padding: 15px 0;
}
.footer-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: flex-start;
	align-items: flex-start;
}
.footer-block__text {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: var(--head-text,'#bdbdbd');
	margin-right: 15px;
}
.footer-block__mobile {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex: 0 0 233px;
	flex: 0 0 233px;
	margin-bottom:20px;
}
.footer-block__mobile span {
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	color: var(--head-text-lt, "#ffffff");
	width: 80px;
	margin-right: 10px;
}
.footer-block__mobile a {
	white-space:nowrap;
	font-weight: 900;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: var(--panel-text,'#ffffff');
	background: var(--panel-back, '#016b45');
	border-radius: 20px;
	padding: 5px 20px;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}
.footer-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.footer-list li {
	margin-left: 15px;
	border-radius: 50%;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}
.fail {
	margin:2em;
	padding:2em;
	color:var(--balloon-text,'#663333');
	background-color:var(--balloon-back,'#ffffcc');
}

.panel {
	font-family:var(--panel-font);
	border-radius: 6px;
	max-width: 480px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-direction:column;
	flex-direction:column;
	padding:20px;
	margin: 10px auto;
	-moz-box-shadow:0px 4px 15px #dfdfdf;
	-webkit-box-shadow:0px 4px 15px #dfdfdf;
	box-shadow:0px 4px 15px #dfdfdf;
}

#login-body {
	color:var(--panel-text, '#ffffff');
	background-color:var(--panel-back, '#016B45');
}
#login-body a:visited,
#login-body a:active,
#login-body a {
	color:var(--panel-text-dk, '#cccccc');
	text-decoration:none;
}
#login-body a:hover {
	color:var(--panel-text, '#ffffff');
	background-color:var(--panel-back-lt,'#00b171');
}
#login-body .optrow {
	justify-content:flex-start !important;
}
.panelmask {
	position:absolute;
	top:0px;
	width:100%;
	z-index:2;
	background-color:rgba(255,255,255,0.8);
}
.panel.bulb {
	position:relative;
	top:80px;
}

.panel h1, 
.panel h2 {
	text-align:center;
}

.page__title {
	font-weight:400;
	font-size:36px;
	line-height:1.2;
	margin-top:30px;
}
.section__title {
	font-weight:400;
	font-size:30px;
	line-height:1.3;
	text-align:left;
	margin-bottom:1em;
}

.wide {
	width: 100% !important;
	max-width:unset !important;
}
.panel.light {
	background-color: var(--body-gray, '#fcfcfc');
	border: 1px solid var(--body-gray-dk, '#eaeaea');
}

.panel .opts {
	display:inline-block;
	width:100%;
	text-align:justify;
	text-align-last:justify;
}
.optgroup {
	display:inline-flex;
	flex-direction:column;
	margin-bottom:10px;
	text-align:left;
	text-align-last:left;
	width:calc(50% - 10px);
}
.optgroup label {
	margin-top:1em;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: var(--panel-text-dk, '#b7bfc3');
}
#account-body .optgroup label {
	margin: 1em 0px 0.5em 0px;
	color: var(--body-text-lt, '#999999');
	font-size:10pt;
}
#account-body .optgroup .quant label {
	margin:0px 0.5em !important;
	color: var(--body-text, '#333333');
}
.panel.light .optgroup label {
	display: block;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.2;
	color: var(--body-text,'#333333');
	margin: 0 0 10px 0;
}
.panel.light .optrow label {
	font-weight: bold;
	font-size: 16px;
	color: var(--body-text,'#333333');
}

.optrow {
	margin:10px 0px;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
.optrow .quant {
	display:inline-flex;
	flex-direction:row;
}
.panel.light .form__btn:not(:active) {
	background-color: var(--panel-back, '#016B45');
}
.panel.light .optgroup button.form__btn {
	border-radius: 4px;
	padding: 0.4em;
	width: 80%;
	margin:auto;
	cursor:pointer;
	color:var(--panel-back, '#016B45');
	text-align-last:center;
	background-color:var(--body-back-alt,'#ebf5ef') !important;
	-moz-box-shadow:0px 3px 8px 0px #333333;
	-webkit-box-shadow:0px 3px 8px 0px #333333;
	box-shadow:0px 3px 8px 0px #333333;
}
.panel.light a {
	text-decoration:underline;
}
.panel.light a:hover {
	color:initial;
	text-decoration:none;
}
.block_header {
	display:block;
	font-weight:500;
	font-size:12pt;
	line-height:1.5;
}
.upload_block {
	padding:0px 0px 1em 0px;
	margin:0px 0px 0.5em 0px;
	border-bottom:1px solid var(--body-gray-dk, '#eaeaea');
}
.upload_block button.add {
	border-radius:4px;
	padding:0.2em 1em;
	background:var(--btn-bg-green);
	color:var(--panel-back);
}
.upload_block button.add:active {
	background:var(--btn-bg-green-alt);
}
.upload_block button.rm {
	border-radius:4px;
	background:var(--btn-bg-red);
	color:var(--btn-fg-red);
	width:18px;
	height:18px;
	font-size: 18px;
	line-height: 1;
	margin-left:0.5em;
}
.upload_block button.rm:active {
	background:var(--btn-bg-red-alt);
}

.upload_block details {
	margin-bottom:20px;
}
.upload_block summary {
	font-size:11pt;
	line-height:1;
/* 	color: var(--body-text-alt,'#336633'); */
	color: var(--balloon-sel-back, '#6699aa');
	margin: 10px 0px;
	cursor: pointer;
}
.fileholder {
	font-size:10pt;
	font-family:SansMono, monospace;
	overflow-x:auto;
}
.filerow {
	margin:2px 0px;
	justify-content:flex-start;
	align-items:center;
	white-space:nowrap;
}
.filerow a {
	margin-right:0.5em;
	width:100%;
	overflow-x:hidden;
}
.filerow .form__input {
	padding:0.2em 0.5em;
	font-size:10pt;
}
.filerow[data-deleted="1"] {
	display:none !important;
}

.optrow input[type="checkbox"],
.optrow input[type="radio"] {
	width:18px;
	height:18px;
	margin-right:1em;
}

input.udata.fail {
	border-color:var(--red-dk, '#660000');
	background-color:var(--red, '#990000');
	color:var(--panel-text,'#ffffff');
}
input.udata.warn {
	border:2px solid var(--red-dk, '#660000');
	background-color:var(--balloon-back, '#ffffcc');
	color:var(--balloon-text,'#663333');
}

.upload_block >.span-title__info {
	color:var(--body-text,'#333333');
}
.span-title__info {
	font-weight: 400;
	font-size: 10pt;
	line-height:1.2;
	color:var(--body-text-lt,'#999999');
	display:inline-block;
}
.comment {
	font-size:90%;
	margin:20px 0px;
	color:var(--body-text-lt,'#999999');
}

h1 {
	font-weight: bold;
	font-size: 18pt;
	line-height: 1.5;
	margin-bottom: 20px;
}

.panel h4,
.panel button {
	font-weight:700;
}
@media screen and (max-width:800px) {
	.panel { max-width:100% !important; padding:1em !important; margin:1em auto !important;}
	.page__title { font-size:32px !important;line-height:1.2 !important;}
	.section__title { font-size:26px !important; }
	.optgroup { width:100% !important; }
	.form__input { font-size:12pt !important;}
	.form__btn { font-size:10pt !important;padding:0.5em 1em!important;}
	.alert { width: 90% !important;left:5% !important;font-size:80% !important;padding:1em !important;}
}
.form__input {
	background: var(--body-back, '#ffffff');
	border: 1px solid var(--panel-text-dk, '#b7bfc3');
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 4px;
	padding:0.5em 0 0.5em 0.5em;
	width: 100%;
	font-size:inherit;
}
.buttonbar {
	padding:0.5em 0px;
	margin:0.5em 2em;
}

.form__btn {
	font-weight: 400;
	font-size: 12pt;
	line-height: 1.3;
	text-align: center;
	color: var(--panel-text, '#ffffff');
	padding: 0.5em 1.5em;
	background-color: var(--panel-back-dk, '#1d1d1d');
	border-radius: 6px;
	border: 1px solid var(--panel-back-dk, '#1d1d1d');
	display: block;
	margin: 0 auto;
	-moz-box-shadow:0px 3px 8px 0px #333333;
	-webkit-box-shadow:0px 3px 8px 0px #333333;
	box-shadow:0px 3px 8px 0px #333333;
}
.form__btn.small {
	font-size: 11pt;
	line-height: 1.2;
	border-radius: 4px;
	text-align: center;
	padding: 0.4em 1.5em;
}
.form__btn:active {
	background-color: var(--panel-back-lt, '#00b171');
	border-color: var(--panel-back-lt, '#00b171');
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.form__btn:hover {
	background-color: var(--panel-back, '#016B45');
	border-color:var(--panel-text, '#ffffff');
}
.form__btn:disabled {
	color:var(--panel-text-dk, '#b7bfc3');
}

.alert {
	color:var(--panel-text, '#ffffff');
	background-color:var(--panel-back-lt, '#016B45');
	border-radius: 6px;
	width: 50%;
	left: 25%;
	top:20%;
	position:absolute;
	z-index:1;
	padding:2em;
	margin: 10px auto;
	-moz-box-shadow:0px 3px 8px 0px #333333;
	-webkit-box-shadow:0px 3px 8px 0px #333333;
	box-shadow:0px 3px 8px 0px #333333;
	cursor:pointer;
	line-height:1.5;
	text-align:center;
	text-align-last:center;
}

.panel .opts >a {
	list-style-type:none;
	display:list-item;
	font-weight:bold;
	padding:0.5em 0px;
	text-indent:1em;
}

#vswitch {
	font-size:12pt;
	background-repeat:no-repeat;
	background-position:center;
	background-size:100%;
	display:inline-block;
	width:1.2em;
	margin:0.6em -1.5em;
	cursor:pointer;
}
.pwd-hid { background-image:url('/img/pwd-hid.svg') }
.pwd-vis { background-image:url('/img/pwd-vis.svg') }

.buttonbar a.button:visited,
.buttonbar a.button {
	text-decoration:none;
	margin-right:2em;
	padding:0.25em 2em;
	border:1px solid var(--body-text-lt,'#cccccc');
	border-radius:0.3em;
	background: var(--btn-bg);
	color: var(--btn-fg);
}
.buttonbar a.button:active {
	background: var(--btn-bg-alt);
}

.charmark {
	font-size:12pt;
	line-height:1;
	cursor:pointer;
}
.charmark.red {
	color:#990000;
}
.charmark.green {
	color:#000099
}
