<div class="container">
		<h1 class="form__title">Мой Автопарк</h1>
	<div id="finance-body" class="panel light wide">
		<p>Учет грузовиков и газелек
		</p>
		<h2>Грузовики</h2>
		<div class="fintable">
<TMPL_LOOP NAME="list">
		<div class="finrow">
		<div class="fin-date">
	<TMPL_VAR NAME="date">
		</div>
		<div class="fin-sum">
		</div>
	<TMPL_VAR NAME="sum">
		</div>
</TMPL_LOOP>
		</div>
	</div>
</div>
