<div class="content_body">
   <h1 order="3">Мои доходы</h1>
   <div class="finance__filter">
      <div class="finance__filter--item">
         <span class="finance__filter--item-title span-title">Статус платежа:</span>
         <label for="finance-unpaid" class="finance__filter--label">
            <input type="radio" name="finance-paid" id="finance-unpaid" class="drivers-tab__input">
            <span class="drivers-tab__new--checkbox finance__filter--checkbox finance__filter--checkbox-first"></span>
            <span class="span-title__info--text">Неоплачено</span>
         </label>
         <label for="finance-paid" class="finance__filter--label">
            <input type="radio" name="finance-paid" id="finance-paid" class="drivers-tab__input" checked>
            <span class="drivers-tab__new--checkbox finance__filter--checkbox"></span>
            <span class="span-title__info--text">Оплачено</span>
         </label>
      </div>
      <div class="finance__filter--item">
         <span class="finance__filter--item-title span-title">Отчетный период:</span>
         <a href="#" class="finance__filter--item-link finance__filter--item-link-active">Весь период</a>
         <a href="#" class="finance__filter--item-link">За неделю</a>
         <a href="#" class="finance__filter--item-link">Месяц</a>
      </div>
      <div class="finance__filter--item">
         <span class="finance__filter--item-title-date span-title">Выбрать период:</span>
         <input type="date" class="finance__filter--item-input">
         <div class="finance__filter--item-input-dash">
         </div>
         <input type="date" class="finance__filter--item-input">
      </div>
   </div>
   <!-- Начало блок инфы по периоду -->
   <div class="finance__info">
      <span class="finance__info--title">
         <TMPL_VAR NAME="orddate-dd">
      </span>
      <span class="finance__info--subtitle">Сумма за период: <TMPL_VAR NAME="sum_total"></span>
      <div class="finance__info--block">
         <div class="finance__info--block-title">
            <div class="finance__info--block-title-item finance__info--block-title-date">
               <span class="finance__info--block-title-text">Дата</span>
            </div>
            <div class="finance__info--block-title-item finance__info--block-title-summ">
               <span class="finance__info--block-title-text">Сумма, руб</span>
            </div>
            <div class="finance__info--block-title-item finance__info--block-title-status">
               <span class="finance__info--block-title-text">Статус оплаты</span>
            </div>
            <div class="finance__info--block-title-item finance__info--block-title-bid">
               <span class="finance__info--block-title-text">Заявка</span>
            </div>
            <div class="finance__info--block-title-item finance__info--block-title-route">
               <span class="finance__info--block-title-text">Маршрут</span>
            </div>
            <div class="finance__info--block-tab-last"></div>
         </div>
         <TMPL_LOOP NAME="prixod">
            <!--Начало цикла вывода данных о заявке-->
            <div class="finance__info--block-tab">
               <div class="finance__info--block-title-item finance__info--block-tab-date">
                  <span class="finance__info--block-tab-col1"><TMPL_VAR NAME="orddate-dd"></span>
               </div>
               <div class="finance__info--block-wrap">
                  <div class="finance__info--block-title-item finance__info--block-tab-summ">
                     <div class="finance__info--block-tab-col2"><TMPL_VAR NAME="sum"></div>
                  </div>
                  <div class="finance__info--block-title-item finance__info--block-tab-status">
                     <input type="checkbox" class="carting__checkbox" <TMPL_IF NAME="payed">checked</TMPL_IF> />
                  </div>
                  <div class="finance__info--block-title-item finance__info--block-tab-bid">
                     <span class="finance__info--block-tab-col4"><TMPL_VAR NAME="request_number"></span>
                  </div>
                  <div class="finance__info--block-title-item finance__info--block-tab-route">
                     <div class="finance__info--block-tab-city"><TMPL_VAR NAME="shipment"></div>
                  </div>
               </div>
               <div class="finance__info--block-title-item finance__info--block-tab-close">
                  <img src="/img/arrow-bottom.svg" class="finance__info--block-tab-close-img" alt="ARROW" />
               </div>
            </div>
            <!-- Коней блока вывода инфы -->

            <!--Начало выпадающего блока вывода инфы -->
            <div class="finance__info--block-open">
               <div class="block-open__body">
                  <div class="block-open__summ">
                     <span class="block-open__summ--title span-title__info">Сумма, руб</span>
                     <span class="block-open__summ--text span-title"><TMPL_VAR NAME="sum"></span>
                  </div>
                  <div class="block-open__status">
                     <input type="checkbox" class="carting__checkbox" <TMPL_IF NAME="payed">checked</TMPL_IF> />
                     <span class="block-open__status--label span-title__info--text">Оплачено</span>
                  </div>
                  <div class="block-open__bid">
                     <span class="block-open__summ--title span-title__info">Заявка:</span>
                     <span class="block-open__summ--text span-title"><TMPL_VAR NAME="request_number"></span>
                  </div>
                  <div class="block-open__city">
                     <div class="block-open__city--box finance__info--block-tab-city"><TMPL_VAR NAME="shipment"></div>
                  </div>
                  <div class="block-open__document">
                     <span class="block-open__document--title info__title">Документы:</span>
                     <div class="block-open__document--box-file">
                        <a href="#" class=""><span class="block-open__document--file span-title__info">Квитанция об
                              оплате, pdf</span></a>
                        <a href="#" class=""><span class="block-open__document--file span-title__info">GPS
                              отчëт</span></a>
                     </div>
                     <div class="block-open__document--btn">
                        <a href="#" style="color: #ffffff;" class="block-open__document--link">Скачать все документы</a>
                     </div>
                  </div>
               </div>
            </div>
            <!--Конец выпадающего блока вывода инфы -->

         </TMPL_LOOP>
         <!--Конец цикла вывода данных о заявке -->

      </div>
   </div>
   <!--Конец блока вывода инфы по периоду -->
</div>

<script>
   document.addEventListener("DOMContentLoaded", function () {
      // Выпадающее меню сайдbара

      /*      let linkDesktop = document.querySelector(".navbar__list--link-desktop");
            let subMenu = document.querySelector(".navbar__submenu--list-desktop");
            let decktopArrow = document.querySelector(".navbar__submenu--link-desktop");
            linkDesktop.addEventListener("click", (e) => {
               e.preventDefault();
               let target = e.target;
               if (target) {
                  subMenu.classList.toggle("active-desktop");
                  decktopArrow.classList.toggle("decktop-arrow");
            }
         });*/

      //Выпадающее меню мобильного сайдбара

      /*let linkMobile = document.querySelector(".navbar__list--link-dropdown");
      let subMenuMobile = document.querySelector(".navbar__submenu--list-mobile");
      let mobileArrow = document.querySelector(".navbar__list--link-mobile");
      linkMobile.addEventListener("click", (e) => {
         e.preventDefault();
         let target = e.target;
         if (target) {
            subMenuMobile.classList.toggle("active-desktop");
            mobileArrow.classList.toggle("mobile-arrow");
         }
      });*/

      //Открытие блока информации о доходох

      let financeTabImgOpen = document.querySelector(".finance__info--block-tab-close");
      let financeImg = document.querySelector(".finance__info--block-tab-close-img");
      let financeInfo = document.querySelector(".finance__info--block-open");
      let financeBlockWrap = document.querySelector(".finance__info--block-wrap");
      financeTabImgOpen.addEventListener("click", (e) => {
         if (e.target) {
            financeInfo.classList.toggle("finance-info__active");
            financeImg.classList.toggle("drivers-tab__open--img-active");
            financeBlockWrap.classList.toggle("finance-wrap__block-active");
         }
      });
   });
</script>