<div class="container">
	<form id="registration-body" class="panel light">
		<h1 class="form__title">Регистрация</h1>
		<p class="comment">* обозначены поля, обязательные для заполнения</p>

		<div class="optgroup wide">
			<label for="fullname">ФИО*</label>
			<input type="text" name="fullname" id="fullname" class="udata form__input" required />
		</div>

		<div class="optgroup wide">
			<label for="phone">Телефон*</label>
			<input type="tel" name="phone" id="phone" class="udata form__input" 
						placeholder="+7 (_ _ _) _ _ _ - _ _ - _ _" required/>
		</div>

		<div class="optgroup wide">
			<label for="email">E-mail*</label>
			<input type="email" name="_email" id="_email" class="udata form__input" 
						value="<TMPL_VAR NAME="email">" required/>
		</div>

		<div class="optgroup wide">
			<div class="registration__form--role">
				<label>Роль в перевозке*</label>
				<div class="optrow">
					<div class="quant">
					<input type="checkbox" name="_umode" id="customer" class="udata" value="<TMPL_VAR NAME="customer">" required checked />
					<label for="customer">Заказчик</label>
					</div>
					<div class="quant">
					<input type="checkbox" name="_umode" id="carrier" class="udata" value="<TMPL_VAR NAME="carrier">" required />
					<label for="carrier">Перевозчик</label>
					</div>
				</div>
			</div>
		</div>

		<div class="optgroup wide">
			<div id="user-type" class="registration__form--role">
				<label>Субъект гражданского права*</label>
				<div class="optrow">
					<div class="quant">
					<input type="radio" name="_usubj" id="entity" class="udata" value="<TMPL_VAR NAME="entity">" required checked />
					<label for="entity">Юридическое лицо</label>
					</div>
					<div class="quant">
					<input type="radio" name="_usubj" id="individual" class="udata" value="<TMPL_VAR NAME="individual">" required />
					<label for="individual">Физическое лицо</label>
					</div>
				</div>
			</div>
		</div>

		<div id="upload_section">
			<span class="block_header">Загрузить документы:</span>
<TMPL_LOOP NAME="uploads">
			<div class="upload_block" id="<TMPL_VAR NAME="name">">
				<span class="span-title__info"><TMPL_VAR NAME="title"></span>
				<div class="fileholder" data-parent="<TMPL_VAR NAME="name">">
				</div>
				<div class="optrow">
				<button id="up_<TMPL_VAR NAME="name">progr" class="pgbar add" type="button">Добавить файл</button>
				</div>
			</div>
</TMPL_LOOP>
		</div>

		<p class="span-title__info">Нажимая кнопку Зарегистрировать, вы соглашаетесь с
			<a href="#">условиями обработки персональных данных</a>
		</p>
		<div class="buttonbar">
			<button id="commit" type="button" class="form__btn">Зарегистрировать</button>
		</div>
	</form>
	<div id="alert" class="alert" style="display:none">
		<h1>Внимание!</h1>
		<p>Адрес электронной почты <span class="email"></span> уже зарегистрирован в системе.<br>
			Вы можете продолжить регистрацию с этим адресом, но в этом случае позаботьтесь о том, 
			чтобы у Ваших учетных записей были разные имена (login) для входа в систему.<br>
			Если Вы попросту забыли пароль от учетной записи, воспользуйтесь кнопкой:
		</p>
		<div class="buttonbar">
			<button type="button" class="form__btn" id="reset">Восстановить пароль</button>
		</div>
		<p>
			Щелкните по окну, чтобы закрыть его.
		</p>
	</div>
</div>

<script type="text/javascript">
const session = '<TMPL_VAR NAME="session">';
const uid = '<TMPL_VAR NAME="_uid">';
</script>
<script type="text/javascript" src="/js/account.min.js?<TMPL_VAR NAME="js">"></script>
