<div class="content_body">
	<h1 order="0" strict="carrier">Мои перевозки</h1>
		<p>Страница выполненных заказов перевозчика
		</p>
		<div class="usermode">
			Перевозчик: <TMPL_VAR NAME="compname">
		</div>

		<h2>Заявки за период </h2>
		<div class="form__data">
			<input type="hidden" data-key="koldoc" class="udata" value="<TMPL_VAR NAME='koldoc'>" />
			<input type="hidden" data-key="_umode" class="udata" value="<TMPL_VAR NAME='_umode'>" />
			<input type="hidden" data-key="from" class="udata" value="<TMPL_VAR NAME='from'>" />
			<input type="hidden" data-key="_uid" class="udata" value="<TMPL_VAR NAME='_uid'>" />
			<div class="optrow">
				<label for="d_start">Начало периода: </label><input data-key="begin" class="udata" id="d_start" type="date" value="<TMPL_VAR NAME='begin-dd'>" />
			</div>
			<div class="optrow">
				<label for="d_end">Окончание периода: </label><input data-key="end" class="udata" id="d_end" type="date" value="<TMPL_VAR NAME='end-dd'>" />
			</div>
			<div class="buttonbar">
				<button type="button" class="form__btn" data-code="request" id="sendquery">Запросить</button>
			</div>
		</div>


	<div class="report body<TMPL_UNLESS NAME='quantity'> hidden</TMPL_UNLESS>">
		<table id="orderList">
			<tr class="thead">
				<th>Дата заявки</th>
				<th>Время заявки</th>
				<th>Водитель</th>
				<th>Масса</th>
				<th>Общая стоимость</th>
			</tr>
<TMPL_LOOP NAME="list">
			<tr class="tdata">
				<td data-varname="orddate-dd"><TMPL_VAR NAME='orddate-dd'></td>
				<td data-varname="orddate-dt"><TMPL_VAR NAME='orddate-dt'></td>
				<td data-varname="driver"><TMPL_VAR NAME='driver'></td>
				<td data-varname="weight"><TMPL_VAR NAME='weight'></td>
				<td data-varname="total"><TMPL_VAR NAME="total"></td>
			</tr>
</TMPL_LOOP>
		</table>

		<h3>Показано <strong id="shownRec"><TMPL_VAR NAME="list-nn"></strong> записей из <strong id="totalRec"><TMPL_VAR NAME="quantity"></strong></h3>
		<ul data-code="request" class="pagination">
		</ul>
	</div>
	<div class="report fail<TMPL_IF NAME='quantity'> hidden</TMPL_IF>">
		<h3><strong>За период c <span><TMPL_VAR NAME='begin-dd'></span> по <span><TMPL_VAR NAME='end-dd'></span> заявки не найдены</strong></h3>
	</div>

</div>
<div class="drivers-search content_wide">
		<h2>Детали перевозки</h2>
</div>
<script type="text/javascript" src="/js/assy_request.js?<TMPL_VAR NAME='js'>"></script>
