<h1 id="head">Доступ к личному кабинету АЛВЕ ТК</h1>
<p>
Здравствуйте!<br>
Компания &laquo;Алве ТК&raquo; с удовольствием сообщает,<br> 
что Вам открыт доступ к онлайн-сервисам в личном кабинете на сайте<br>
&laquo;<a href="<TMPL_VAR NAME="site_url">"><TMPL_VAR NAME="site_name"></a>&raquo;<br> 
Чтобы настроить доступ к Личному кабинету (установить логин и пароль для входа),<br> 
пожалуйста, в течение <TMPL_VAR NAME="timeout"> часов перейдите по ссылке<br>
<a href="<TMPL_VAR NAME="link_accept">">Настройка доступа</a><br>
</p>
<p>
Если это письмо попало к Вам по ошибке,<br>
и Вы не знаете, по какой причине Ваш адрес оказался у нас,<br> 
пожалуйста, проигнорируйте это письмо <br>
или перейдите по ссылке<br>
<a href="<TMPL_VAR NAME="link_reject">">Прекратить слать письма</a>
чтобы предотвратить получение таких писем в дальнейшем.
</p>
****************<br>
С уважением,<br>
компания &laquo;Алве ТК&raquo;<br>
<TMPL_VAR NAME="site_name"><br>
<TMPL_VAR NAME="site_url">
