<h1 id="head">Регистрация в системе</h1>
<p>
Здравствуйте!<br>
Вы получили это письмо, так как указали данный электронный адрес для связи<br> 
при регистрации в Личном кабинете на сайте<br>
&laquo;<a href="<TMPL_VAR NAME="site_url">"><TMPL_VAR NAME="site_name"></a>&raquo;<br> 
Для завершения процедуры регистрации, перейдите по ссылке<br> 
<a href="<TMPL_VAR NAME="link_accept">">Подтверждение регистрации</a><br>
в течение <TMPL_VAR NAME="timeout"> часов<br>
и задайте имя (login) и пароль для входа в Личный кабинет.
</p>
<p>
Если Вы никогда не регистрировались на нашем сайте<br>
и не знаете никого, кто мог это сделать от Вашего имени,<br> 
пожалуйста, проигнорируйте это письмо <br>
или перейдите по ссылке<br>
<a href="<TMPL_VAR NAME="link_reject">">Прекратить слать письма</a>
чтобы предотвратить получение таких писем в дальнейшем.
</p>
****************<br>
С уважением,<br>
администрация сайта <br>
&laquo;<TMPL_VAR NAME="site_name">&raquo;<br>
<TMPL_VAR NAME="site_url">
<comment>
<h1>Поздравляем с регистрацией!</h1>
На электронную почту, указанную при регистрации, мы отправили письмо с темой &laquo;Регистрация в системе&raquo;.<br>
Чтобы завершить процедуру регистрации, пожалуйста, перейдите по ссылке из письма в течение <TMPL_VAR NAME="timeout"> часов<br>
Пожалуйста, имейте в виду, что Ваш почтовый оператор может поместить это письмо в папку &laquo;Спам&raquo;.
</comment>
