<h1 id="head">Восстановление пароля</h1>
<p>
Здравствуйте!<br>
Вы получили это письмо, так как указали данный электронный адрес для связи<br> 
при регистрации в Личном кабинете на сайте<br>
&laquo;<a href="<TMPL_VAR NAME="site_url">"><TMPL_VAR NAME="site_name"></a>&raquo;<br> 
и желаете восстановить пароль для входа в Личный кабинет<br>
Для восстановления доступа к Вашему Личному кабинету, перейдите по ссылке<br> 
<a href="<TMPL_VAR NAME="link_accept">">Восстановить пароль</a><br>
в течение <TMPL_VAR NAME="timeout"> часов<br>
и установите новый пароль для входа в Личный кабинет.
</p>
<p>
Если Вы никогда не регистрировались на нашем сайте<br>
и не знаете никого, кто мог это сделать от Вашего имени,<br> 
пожалуйста, проигнорируйте это письмо <br>
или перейдите по ссылке<br>
<a href="<TMPL_VAR NAME="link_reject">">Прекратить слать письма</a>
чтобы предотвратить получение таких писем в дальнейшем.
</p>
****************<br>
С уважением,<br>
администрация сайта <br>
&laquo;<TMPL_VAR NAME="site_name">&raquo;<br>
<TMPL_VAR NAME="site_url">
<comment>
На электронную почту, указанную при регистрации, мы отправили письмо с темой &laquo;Восстановление пароля&raquo;.<br>
Для замены пароля и восстановления доступа в Личный кабинет,<br>
пожалуйста, перейдите по ссылке из письма в течение <TMPL_VAR NAME="timeout"> часов.
</comment>
